@page "/tilesets"


<h1>Tilesets</h1>
<ul class="list-group">
    @foreach (string tilesetName in TilesetNames)
    {
        <li class="list-group-item">@tilesetName</li>
    }
</ul>

<SfUploader>
    <UploaderEvents ValueChange="OnChange"></UploaderEvents>
</SfUploader>

@using System.IO;
@code {
    public const string TILESETDIR = "./Data/tilesets";
    private string[] TilesetNames;


    protected override void OnInitialized()
    {

        if (!Directory.Exists(TILESETDIR))
        {
            Directory.CreateDirectory(TILESETDIR);
        }
        string[] fullnames = Directory.GetDirectories(TILESETDIR);
        List<string> tilesetList = new List<string>();
        foreach (string fullname in fullnames)
        {
            tilesetList.Add(Path.GetFileName(fullname));
        }
        TilesetNames = tilesetList.ToArray();
    }

    private void OnChange(UploadChangeEventArgs args)
    {
        Console.WriteLine(">>>OnChange");
        foreach (var file in args.Files)
        {
            var path = TILESETDIR + "/" + file.FileInfo.Name;
            FileStream filestream = new FileStream(path, FileMode.Create, FileAccess.Write);
            file.Stream.WriteTo(filestream);
            filestream.Close();
            file.Stream.Close();
        }
    }
}